## *******************************************************************************************************************************************************
## Git repository ignore configuration.
##
## Author: Wang Yucai
## Created Time: 2021-03-03 23:46
## *******************************************************************************************************************************************************

## Node Special Folders
node_modules/
dist/
build/